*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #010101;
  font-weight: 400;
  line-height: 1.5;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 0;
}

h1 {
  font-size: 1.875rem;
  font-weight: 500;
}

h2 {
  font-size: 1.85rem;
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: inherit;
  position: relative;
  vertical-align: top;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  border: 2px solid transparent;
  border-color: #00b340;
  background: #fff;
  cursor: pointer;
  padding: 0.65rem 2.25rem;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

section {
  display: block;
  padding: 2rem 0;
}

.feature-heading {
  text-transform: uppercase;
  font-weight: 600;
}

.hero-section {
  background: url("images/solarpanel.png") no-repeat;
  background-size: cover;
  height: 692px;
}

.hero-box {
  background: rgba(0,0,0,0.6);
  text-align: left;
  color: #fff;
  padding: 2rem 4.5rem;
  height: 30rem;
  width: 554px;
  max-height: 100%;
}

.hero-text {
  margin: 2rem 0;
}

p.lead {
  font-size: 1.125rem;
}

.container {
  margin: 0 auto;
  width: 67.5rem;
  max-width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.column.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.column {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  display: block;
  padding: 0 1rem;
}

.features,
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: left;
}

.feature-icon {
  margin-right: 1.5rem;
}

.feature-text {
  width: 15rem;
}

figcaption:before {
  position: absolute;
  content: '';
  top: -0.8rem;
  left: 0;
  width: 7rem;
  height: 0.9375rem;
  background: #00b444;
}

figcaption {
  position: relative;
  display: block;
  z-index: 1;
  margin-top: -3rem;
  margin-left: auto;
  left: 1rem;
  width: 19rem;
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.arrow-icon {
  position: relative;
  left: 1.5rem;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.news-heading {
  width: 8rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid #0c0c0c;
  margin-bottom: 1rem;
}

.news-subheading {
  width: 35rem;
}

.news-text {
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 800px) {
  .hero-box {
    padding: 1rem;
    width: 100%;
  }

  .news-subheading {
    width: 100%;
  }
  
  figcaption {
    width: 100%;
    left: auto;
    margin: auto;
  }
}